@model ArbiterTown.Models.ResponseTipTask
@using responseTip.Helpers

@{
    ViewBag.Title = "FindUser";
}

<h2>FindUser</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<table class="table">
    <tr>
        <th>
            Choose Recipient:
        </th>
        <th>
            user image
        </th>
        <th>
            user profile name
        </th>
        <th>
            user name
        </th>
    </tr>
@{
    int i = 0;
    foreach (var SearchResult in ViewBag.SearchResultsInBag.searchResultsData)
    {
    <tr>
        <th>
            @{string profileName = SearchResult.userProfileName;
            }
            @Html.RadioButtonFor(model => model.twitterUserNameSelected, profileName)
        </th>
        <th>
           <img src="@SearchResult.userProfileImageString" />
        </th>
        <th>
            @SearchResult.userProfileName
        </th>
        <th>
            @SearchResult.userName
        </th>
    </tr>
        i = i + 1;
    }
}
</table>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</div>
                }
@*<button type="submit">OK</button>*@

<p>
    Pay to this bitcoin adress to send the conditioned payment. This adress will be valid for 2hours


</p>

@Html.GenerateQrCode("bitcoin:"+ Html.DisplayFor(model => model.BitcoinPublicAdress) + "?amount=" +Html.DisplayFor(model => model.BitcoinPrice)+"&message=Payment&label=responseTip&extra=other-param")
<p>
@Html.DisplayFor(model => model.BitcoinPublicAdress)
</p>