@model IEnumerable<responseTip.Models.ResponseTipTask>
@using responseTip.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.twitterUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BitcoinPublicAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BitcoinPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isQuestionPublic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.twitterUserName)
        </td>
        <td>
            @Html.GenerateQrCode("bitcoin:12A1MyfXbW6RhdRAZEqofac5jCQQjwEPBu?amount=0.0002&message=Payment&label=Satoshi&extra=other-param")
            @Html.DisplayFor(modelItem => item.BitcoinPublicAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BitcoinPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isQuestionPublic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taskStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResponseTipTaskID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResponseTipTaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResponseTipTaskID })
        </td>
    </tr>
}

</table>
