@model ArbiterTown.Models.UserProfileModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bitcoinsEarned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bitcoinsEarned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tasksCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tasksCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tasksSuccesfull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tasksSuccesfull)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tasksskipped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tasksskipped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.successRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.successRate)
        </dd>

    </dl>
</div>
<div style="width:inherit">
    <div style="float:left; width:50%;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TextAnswerValidationTasks.FirstOrDefault().id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextAnswerValidationTasks.FirstOrDefault().taskPriceInBitcoin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextAnswerValidationTasks.FirstOrDefault().expirationTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextAnswerValidationTasks.FirstOrDefault().taskStatus)
                </th>

            </tr>

            @foreach (var item in Model.TextAnswerValidationTasks.Where(task => task.taskStatus == ArbiterTown.Models.ArbiterTaskStatusesEnum.textAnswerValidation_created))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskPriceInBitcoin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.expirationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskStatus)
                    </td>
                    <td>
                        @Html.ActionLink("Solve", "Task", "TextAnswerValidationTasks", new { id = item.id }, null)
                    </td>

                </tr>
            }

        </table>
    </div>

    <div style="float:right; width:50%;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TextAnswerValidationTasks.FirstOrDefault().id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextAnswerValidationTasks.FirstOrDefault().taskPriceInBitcoin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextAnswerValidationTasks.FirstOrDefault().expirationTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextAnswerValidationTasks.FirstOrDefault().taskStatus)
                </th>

            </tr>

            @foreach (var item in Model.TextAnswerValidationTasks.Where(task => task.taskStatus != ArbiterTown.Models.ArbiterTaskStatusesEnum.textAnswerValidation_created))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskPriceInBitcoin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.expirationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.taskStatus)
                    </td>
                    <td>
                        @Html.ActionLink("Solve", "Task", "TextAnswerValidationTasks", new { id = item.id }, null)
                    </td>

                </tr>
            }

        </table>
    </div>

</div>